<div>
    <h1>Hallo {{name}}!</h1>

    <p>
        Du hast dein Passwort vergessen? Kein Ding! Mit dieser Mail kannst du dein Passwort zurücksetzen.
        Drücker hierzu einfach auf folgenden Button und gebe dein neues Passwort an.
    </p>
    <p>
        Achtung, dieser Link ist nur 24 Stunden gültig!
    </p>


    <a href="{{url}}">
        <button>Passwort zurücksetzen</button>
    </a>


    <p>
        Der Link funktioniert nicht? Kopiere ihn in in deinen Browser.
        <span>{{url}}</span>
    </p>

    <p>
        Wenn du nicht weißt, was hier gerade passiert - kein Problem. Wenn du dein Passwort nicht zurücksetzen möchtest,
        dann ignoeriere diese Mail einfach. Dein Account ist sicher.
    </p>

    <p>
        Viele Grüße
        Dein ECA-Bot
    </p>


</div>
