<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: block;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }

        .svg-wrapper {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 0;
        }

        .svg-wrapper svg {
            transform: scale(1.1, 1.25) translateY(10%) translateX(-2.5%);
        }

        .wrapper {
            position: relative;
            min-height: calc(100vh - 100px);
            padding-bottom: 100px;
            overflow: auto;
            background-image: linear-gradient(to bottom, #2c2c2f 25%, #dddddd 20%);
        }

        .headline {
            margin: 25px 0 50px;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
            font-size: 2.25em;
            font-family: Montserrat, "Helvetica Neue", sans-serif;
            color: #fff;
            position: relative;
            z-index: 10;
        }

        .main-wrapper {

        }

        .mail {
            background-color: white;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            border-radius: 10px;
            width: 80%;
            max-width: 600px;
            position: relative;
            z-index: 10;
            margin: 10vh auto;
            padding: 20px;
            text-align: center;
        }

        .mail .headline {
            color: #2C2C2F;
            font-size: 2.0em;
        }


        p {
            width: 90%;
            margin: 10px auto;
            text-align: justify;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        p:last-child {
            margin-top: 50px;
        }

        p:last-child span {
            font-weight: bolder;
            font-size: 1.05em;
        }


        a button {
            margin: 50px auto;
            border: none;
            border-radius: 10px;
            padding: 15px 25px;
            font-size: 1.125em;
            font-weight: bolder;
            outline: none;
            transition: 0.25s all;
            background-color: #2C2C2F;
            color: white;
        }

        button:hover {
            transform: scale(1.05);
            transition: 0.25s all;
        }

        .link {
            font-size: 0.8em;
            padding: 10px;
            margin: 50px auto;
            display: block;
            background-color: #efefef;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="main-wrapper">
        <h1 class="headline">Account</h1>

        <div class="mail">
            <h2 class="headline">Hallo {{name}}!</h2>

            <p>
                Cool, dass ich dich willkommen heißen darf! Um deine Registrierung abzuschließen ist lediglich ein
                Klick auf den Button nötig. Dies bestätigt deine E-Mail Adresse. Erst wenn du das gemacht hast, kann
                ich deinen Account freischalten.
            </p>

            <a href="{{url}}">
                <button>E-Mail Adresse bestätigen</button>
            </a>

            <p>
                Der Link funktioniert nicht? Kopiere ihn in deinen Browser.
                <span class="link">{{url}}</span>
            </p>

            <p>
                Wenn du nicht weißt, was hier gerade passiert - kein Problem. Jemand möchte sich mit deiner E-Mail
                Adresse einen Account erstellen. Wenn das nicht du bist, dann folge nicht dem oben geschriebenen Link.
                Schreibe mir eine Mail an das <a href="mailto:support@eca.cg-hh.de">Support-Postfach</a> und ich werde
                mich um dein Anliegen kümmern.
            </p>
            <p>
                Keine Sorge, mit deiner Mail kann dann nichts angefangen werden.
            </p>

            <p>
                Viele Grüße<br/>
                <span>Dein ECA-Bot</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
